/* =================================================
   Footer - PC 100% 기준 (유지)
================================================= */
.footer-container {
  width: 100%;
	height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
	background-color: #0f0f0f;
}

.footer-image {
  width: 550px;
  height: auto;
}

/* =================================================
   Responsive - 1024px 이하
================================================= */
@media (max-width: 1024px) {
  .footer-image {
    width: 480px;
  }
	.footer-container {
		height: 130px;
	}
}

/* =================================================
   Responsive - 950px 이하
================================================= */
@media (max-width: 950px) {
  .footer-image {
    width: 420px;
  }
	.footer-container {
		height: 120px;
	}
}

/* =================================================
   Responsive - 768px 이하
================================================= */
@media (max-width: 768px) {
  .footer-container {
		height: 100px;
  }

  .footer-image {
    width: 340px;
  }
}

/* =================================================
   Responsive - 480px 이하
================================================= */
@media (max-width: 480px) {
  .footer-container {
  	height: 80px;
  }

  .footer-image {
    width: 260px;
  }
}
