.top-button {
  position: fixed;
  bottom: 80px;      /* 푸터 위 위치 */
  right: 40px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.top-button:hover {
  transform: scale(1.1);
  transition: transform 0.2s;
}